<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>未来科学国际合作联合实验室</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}">
    <link rel="stylesheet" href="../static/css/event-list.css" th:href="@{/css/event-list.css}">

</head>
<body class="default">
<section class="row top_bar">
    <div class="container">
        <div class="row">
            <div class="fleft phone" style="padding-bottom: 10px;">
                <p><a href="#">Computational Intelligence Knowledge Mapping Laboratory, School of Computer Science and
                    Technology, Jilin University</a></p>
            </div>
            <div class="fright">

                <div class="fleft"><strong><a href="#">Sign up</a> | <a href="#">Sign in</a></strong></div>
            </div>
        </div>
    </div>
</section>

<nav class="navbar navbar-default navbar-static-top navbar2" style="background: #0186d5;">
    <div class="container" style="margin-left: -60px;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_nav"
                    aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a href="book-appointment.html" class="navbar-toggle visible-xs" data-toggle="modal" data-target="#appointmefnt_form_pop">Search</a> -->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main_nav">
            <a href="index.html"><img style="width:125px;height:80px;margin-left:280px ;margin-top: 2px;"
                                      src="assets/wq4.png" alt=""></a>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="index.html">Home</a></li>

                <li><a href="aboutus.html">About Us</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Research</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="research_direction.html">Research Direction</a></li>
                        <li><a href="paperlist.html">Papers</a></li>
                        <li><a href="research_project.html">Projects</a></li>
                    </ul>
                </li>
                <li><a href="personlist.html">People</a></li>
                <li><a href="eventlist.html">News</a></li>
                <li><a href="upload.html">Share</a></li>


                <li><a href="join.html">Join Us</a></li>
                <!-- <li class="hidden-xs book"><a href="#" data-toggle="modal" data-target="#appointmefnt_form_pop">Search</a></li> -->
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>
<div class="content">
    <div class="container" style="padding: 20px;">
        <div class="col-md-12 col-sm-12">
            <div class="e-selector tabs">
            </div>
        </div>
    </div>
    <section class="row content_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8 blog_list">
                    <div class="row m0 widget categories">
                        <h5 class="widget_heading">&nbsp;&nbsp; News</h5>
                    </div>
                    <div id="news_container">
                        <!--/*@thymesVar id="newsPage" type="org.springframework.data.domain.Page<com.socog.website.module.news.entity.News>"*/-->
                        <div class="media blog" th:each="news : ${newsPage.getContent()}">

                            <div class="media-left">
                                <a href="event.html"><img th:src="${news.getPhoto()}" src="assets/blog/blog/1.jpg"
                                                          alt=""
                                                          class="img-reponsive"></a>
                            </div>
                            <div class="media-body">
                                <a href="event.html"><h4 th:text="${news.getTitle()}">title</h4></a>
                                <div class="row m0 meta">
                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><a href="#"
                                                                                                            th:text="${news.getDate()}">2017
                                    /
                                    09 / 10</a>
                                </div>
                                <p th:text="${news.getContent()}">Fusce ut velit sempersemper arcu quis, aliquam
                                    magnatiam
                                    sed justo et sem varius euismodn
                                    ac justo urnaonec tincidunt nisl semper sapien ut velit sempersemper arcu quis,
                                    aliquam
                                    magnatiam sed justo et sem varius euismodn ac justo urnaonec tincidunt nisl semper
                                    sapien.</p>
                            </div>
                        </div> <!--single blog-->
                    </div>


                    <div class="row paginationRow" style="clear: both">
                        <div class="pagination">
                            <button type="button" id="news_first"><span
                                    class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span>
                            </button>
                            <button type="button" id="news_prev"><span
                                    class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
                            </button>
                            <button type="button" id="news_next"><span
                                    class="glyphicon glyphicon-triangle-right"
                                    aria-hidden="true"></span></button>
                            <button type="button" id="news_last"><span
                                    class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 sidebar">

                    <div class="row m0 widget categories">
                        <h5 class="widget_heading">Notification</h5>
                        <div class="new_list">
                            <!--/*@thymesVar id="notPage" type="org.springframework.data.domain.Page<com.socog.website.module.news.entity.News>"*/-->
                            <div class="new" th:each="notification : ${notPage.getContent()}">
                                <div class="new_date">
                                    <div class="day" th:text="${notification.getDate().getDay()}+th">12th</div>
                                    <div class="month " th:text="${notification.getDate().getMonth()}">10</div>
                                </div>
                                <div class="new_content">
                                    <p class="new_content_day">Today</p>
                                    <p class="new_content_abs" th:text="${notification.getContent()}">Lorem ipsum dolor
                                        sit amet, consectetur adipiscing elit.
                                        Aenean euismod bibendum laoreet. Proin gravida dolor sit amet </p>
                                </div>

                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
</div>
<footer class="row" style="padding-top: 30px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7 col-lg-4 footer_menuList">
                <div class="row menuList">
                    <ul class="firstOrderList nav" style="text-transform: initial">
                        <li><a href="#"><img style="width:40%;height: 30%;float: left;margin-left:40px ;"
                                             src="assets/wq4.png" alt=""></a></li>

                    </ul>
                </div>
            </div>
            <div class="col-sm-4 col-md-5 col-lg-5 footer_menuList">
                <div class="row menuList">
                    <ul class="firstOrderList nav" style="text-transform: initial">
                        <li><a href="">Jilin University</a></li>

                        <li><a href="">Chinese Ministry of Education</a></li>

                        <li><a href="">National Natural Science Foundation of China</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3" style="text-align:center;">
                <div><img style="width:32%; margin-top:2px; margin-bottom: 8px;" src="./assets/erweima.png" alt="">
                </div>
                <p style="margin-top: 18px; color: #eee; text-align: center;">关注微信公众号</p>
            </div>
            <div class="fright copyright col-sm-6 col-md-6 col-lg-12" style="text-align: center;margin-top: 1px">&copy;
                <a href="index"> 吉林大学计算机科学与技术学院计算智能知识图谱实验室 </a></div>
        </div>
    </div>
</footer>

<form hidden="hidden" id="newsPageForm">
    <!--/*@thymesVar id="newsPage" type="org.springframework.data.domain.Page<com.socog.website.module.news.entity.News>"*/-->
    <input type="hidden" name="newsPageNow" id="newsPageNow" th:value="${newsPage.getNumber()}">
    <input type="hidden" id="newsTotalPages" th:value="${newsPage.getTotalPages()}">

</form>
<script src="../static/js/jquery-2.1.3.min.js" th:src="@{/js/jquery-2.1.3.min.js}"></script>
<!--Bootstrap JS-->
<script src="js/bootstrap.min.js"></script>
<!--Owl Carousel-->
<script src="vendors/owl.carousel/js/owl.carousel.min.js"></script>
<script src="../static/js/layer/layer.min.js" th:src="@{/js/layer/layer.min.js}"></script>
<script type="text/javascript">
    /*字符串格式化工具*/
    String.prototype.format = function () {
        if (arguments.length === 0) return this;
        var obj = arguments[0];
        var s = this;
        for (var key in obj) {
            s = s.replace(new RegExp("\\{\\{" + key + "\\}\\}", "g"), obj[key]);
        }
        return s;
    };

    var element = "<div class=\"media blog\">\n" +
        "\n" +
        "                        <div class=\"media-left\">\n" +
        "                            <a href=\"event.html\"><img  src=\"{{photo}}\" alt=\"\"\n" +
        "                                                      class=\"img-reponsive\"></a>\n" +
        "                        </div>\n" +
        "                        <div class=\"media-body\">\n" +
        "                            <a href=\"{{href}}\"><h4>{{title}}</h4></a>\n" +
        "                            <div class=\"row m0 meta\">\n" +
        "                                <span class=\"glyphicon glyphicon-calendar\" aria-hidden=\"true\"></span><a href=\"#\">{{date}}</a>\n" +
        "                            </div>\n" +
        "                            <p>{{content}}</p>\n" +
        "                        </div>\n" +
        "                    </div>";

    /*查询成功后更改对应的显示内容*/
    function whenNewsQuerySuccess(pager, status) {
        console.log(pager);
        var html = "";
        var datas = pager['content'];
        $.each(datas, function (i, data) {
            var news = {
                photo: data['photo'],
                href: "news" + data['id'],
                title: data['title'],
                date: data['date'],
                content: data['content']
            };
            html += element.format(news);
        })
        $("#news_container").html(html);
    }

    $(function () {
        /*news页面的ajax分页*/
        var newsPageNowElem = $("#newsPageNow");


        $("#news_first").click(function () {
            if (newsPageNowElem.val() <= 0) {
                layer.msg("It's already the first page.");
                return;
            }

            newsPageNowElem.val(0);
            $.get("news/news",
                $("#newsPageForm").serialize(),
                function (pager, status) {
                    whenNewsQuerySuccess(pager, status);
                },
                'json'
            )
        });
        $("#news_prev").click(function () {
            if (newsPageNowElem.val() <= 0) {
                layer.msg("There is no previous page.");
                return;
            }
            newsPageNowElem.val(parseInt(newsPageNowElem.val()) - 1);
            $.get("news/news",
                $("#newsPageForm").serialize(),
                function (pager, status) {
                    whenNewsQuerySuccess(pager, status);
                },
                'json'
            )
        });
        $("#news_next").click(function () {
            if (newsPageNowElem.val() >= $("#newsTotalPages").val()-1) {
                layer.msg("There is no next page.");
                return;
            }
            newsPageNowElem.val(parseInt(newsPageNowElem.val()) + 1);

            $.get("news/news",
                $("#newsPageForm").serialize(),
                function (pager, status) {
                    whenNewsQuerySuccess(pager, status);
                },
                'json'
            )
        });
        $("#news_last").click(function () {
            if (newsPageNowElem.val() >= $("#newsTotalPages").val()-1) {
                layer.msg("It's already the last page.");
                return;
            }

            newsPageNowElem.val(parseInt($("#newsTotalPages").val()-1));

            $.get("news/news",
                $("#newsPageForm").serialize(),
                function (pager, status) {
                    whenNewsQuerySuccess(pager, status);
                },
                'json'
            )
        });
    })


</script>

</body>
</html>
