<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">

</head>
<body>
<form th:action="@{/user/login}" method="post">
    <h2>
        用户登录
    </h2>

    <div th:if="${param.error}"
         class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        用户名或密码错误！
    </div>

    <div th:if="${param.logout}"
         class="alert alert-info" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        您已成功登出！
    </div>
    <div style="text-align: center">
        <div class="col-md-6 col-sm-6">

            <label for="username">用户名：</label>
            <input id="username" class="username form-control" name="username" placeholder="用户名" required autofocus>

            <label for="password">密码：</label>
            <input id="password" class="password form-control" name="password" type="password" placeholder="密码" required>
            <button type="submit" class="btn btn-default">登录</button>
        </div>

    </div>

</form>

</body>
</html>