<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <base th:href="@{/socog}">
    <title>未来科学国际合作联合实验室</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}">
    <link rel="stylesheet" href="../static/css/person.css" th:href="@{/css/person.css}">
    <link rel="stylesheet" href="../static/css/achievement.css" th:href="@{/css/achievement.css}">
    <style>

        .go-top {
            position: fixed;
            bottom: 10px;
            right: 10px;
            display: none;
            cursor: pointer;
        }

    </style>
</head>

<body class="default">
<section class="row top_bar">
    <div class="" style="margin-left: 62px;margin-right:60px;margin-top: 10px;">
        <div class="row ">
            <div class="fleft phone">
                <p><a href="#" style="
	     text-decoration: none;
	     color: #03536A;
	 ">Computational Intelligence Knowledge Mapping Laboratory, School of Computer Science and Technology, Jilin
                    University</a></p>
            </div>
            <div class="fright">

                <div class="fleft" sec:authorize="!isAuthenticated()"><strong><a href="#" th:href="@{/user/login}" style="
          			text-decoration: none;
          			color: #03536A;">Sign in</a></strong></div>
                <div class="fleft" sec:authorize="isAuthenticated()"><span style="
                    text-decoration: none;
                    color: #03536A;"><span class="glyphicon glyphicon-user"></span>&nbsp;<strong
                        sec:authentication="name"></strong></span></div>
            </div>
        </div>
    </div>
</section>

<nav class="navbar navbar-default navbar-static-top navbar2" style="background: #0186d5;">
    <div class="container" style="margin-left: -10px;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_nav"
                    aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a href="book-appointment.html" class="navbar-toggle visible-xs" data-toggle="modal" data-target="#appointmefnt_form_pop">Search</a> -->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main_nav">
            <a href="../static/index.html" th:href="@{/index.html}">
                <img style="width:225px;height:70px;margin-left:200px ;margin-top: 9px;" src="../static/assets/wq6.png" th:src="@{/assets/wq6.png}" alt=""></a>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="../static/index.html" th:href="@{/index}">Home</a></li>

                <li><a href="../static/aboutus.html" th:href="@{/aboutus}">About Us</a></li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Research</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="direction/directionlist" th:href="@{/direction/directionlist}">Directions</a></li>
                        <li><a href="paper/paperlist" th:href="@{/paper/paperlist}">Papers</a></li>
                        <li><a href="project/projectlist" th:href="@{/project/projectlist}">Projects</a></li>
                    </ul>
                </li>
                <li><a href="person/personlist" th:href="@{/person/personlist}">People</a></li>
                <li><a href="news/newslist" th:href="@{/news/newslist}">News</a></li>
                <li><a href="resource/resourcelist" th:href="@{/resource/resourcelist}">Resource</a></li>


                <li><a href="../static/join.html" th:href="@{/join}">Join Us</a></li>
                <!-- <li class="hidden-xs book"><a href="#" data-toggle="modal" data-target="#appointmefnt_form_pop">Search</a></li> -->
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>
<div class="content">
    <!--/*@thymesVar id="person" type="com.socog.website.module.person.entiy.Person"*/-->
    <section class="row infomation-scholars">
        <div class="container">
            <div class="col-md-3 col-sm-12 basic-info">
                <div class="info-img col-sm-6 col-md-12">
                    <img th:src="@{${person.getPhoto()}}" src="../static/assets/img/avatar.png" alt="">
                </div>
                <div class="scholar-info col-sm-6 col-md-12">
                    <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;<span
                            th:text="${person.getDegree()}">CAS Academician</span></p>
                    <p><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>&nbsp;&nbsp;<span
                            th:text="${person.getTitle()}">Associate Editor of Chemistry Science</span></p>
                    <p><span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp;&nbsp;<span
                            th:text="${person.getTelephone()}">10086</span></p>
                    <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;&nbsp;<span
                            th:text="${person.getEmail()}">jihong@jlu.edu.cn</span></p>
                </div>
            </div>

            <div class="col-md-9 col-sm-12 scholar-introduction">
                <div class="col-md-12 col-sm-12 blue-background">
                    <div class="col-md-4 col-sm-4 name-apartment">
                        <h2 style="margin-top:13px;" th:text="${person.getName()}">徐昊</h2>
                    </div>
                    <div class="col-md-7 col-sm-7 research-area">
                        <h3 style="padding-top: 28px;"><span class="glyphicon glyphicon-home"></span> &nbsp;&nbsp;<span
                                th:text="${person.getUnit()}">computer science and Technology</span></h3>
                    </div>
                </div>
                <div class="col-sm-6 col-md-12 timeline-edu" style="margin-top: 50px;">
                    <h3 class="blue-line"><b>Introduction</b></h3>
                    <div class="row timeline-content">
                        <p th:text="${person.getBrief()}">个人简介xxXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="row achievement_tab">
        <div class="container">
            <div class="col-sm-12 col-md-4">
                <div class="panel-group accordion white_bg" id="accordion" role="tablist" aria-multiselectable="true">


                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                   aria-expanded="true" aria-controls="collapseOne">
                                    <b>Publications</b>
                                    <span class="sign"></span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in " style="background: #E5E7FF;"
                             role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">

                                <!--/*@thymesVar id="countByYear" type="java.util.List<java.util.Map<java.lang.String,java.lang.Object>>"*/-->
                                <a style="display: block" class="panel_title"
                                   th:text="all+'('+${person.getPaperList().size()}+')'"
                                   th:href="@{/person/person(id=${person.getId()},year='all')}">all</a>
                                <a style="display: block" class="panel_title" th:each="year : ${countByYear}"
                                   th:text="${year.get('year')}+'('+${year.get('count')}+')'"
                                   th:href="@{/person/person(id=${person.getId()},year=${year.get('year')})}">0000</a>
                            </div>
                        </div>
                    </div> <!--Panel-->
                    <!-- <div class="panel panel-default">
                         <div class="panel-heading" role="tab" id="headingTwo">
                             <h4 class="panel-title">
                                 <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                     <b>Projects</b>
                                     <span class="sign"></span>
                                 </a>
                             </h4>
                         </div>
                         <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                             <div class="panel-body">
                                <h4 class="panel_title">2017</h4>
                                <h4 class="panel_title">2016</h4>
                                <h4 class="panel_title">2015</h4>
                                <h4 class="panel_title">2014</h4>
                             </div>
                         </div>
                     </div> -->
                    <!--  <div class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingThree">
                              <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                      <b>Patents</b>
                                      <span class="sign"></span>
                                  </a>
                              </h4>
                          </div>
                          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                              <div class="panel-body">
                                 <h4 class="panel_title">2017</h4>
                                 <h4 class="panel_title">2016</h4>
                                 <h4 class="panel_title">2015</h4>
                                 <h4 class="panel_title">2014</h4>
                              </div>
                          </div>
                      </div> --> <!--Panel-->
                    <!--  <div class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingFour">
                              <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                      <b>Awards</b>
                                      <span class="sign"></span>
                                  </a>
                              </h4>
                          </div>
                          <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
                              <div class="panel-body">
                                 <h4 class="panel_title">2017</h4>
                                 <h4 class="panel_title">2016</h4>
                                 <h4 class="panel_title">2015</h4>
                                 <h4 class="panel_title">2014</h4>
                              </div>
                          </div>
                      </div> --> <!--Panel-->
                    <!--    <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFive">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        <b>courses</b>
                                        <span class="sign"></span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                <div class="panel-body">
                                   <h4 class="panel_title">2017</h4>
                                   <h4 class="panel_title">2016</h4>
                                   <h4 class="panel_title">2015</h4>
                                   <h4 class="panel_title">2014</h4>
                                </div>
                            </div>
                        </div> --> <!--Panel-->
                </div>
            </div>
            <!--/*@thymesVar id="year" type="java.lang.String"*/-->
            <div class="col-sm-12 col-md-8 achievement-content">
                <div class="titleRow">
                    <h4><b>Publications<span th:text="'('+${year}+')'"
                                             style="color: #5d5d5d;padding-left: 10px">year</span></b>&nbsp;&nbsp;</h4>
                </div>
                <div class="filter">

                </div>

                <div th:if="${year} eq 'all'">
                    <div class="achievement-item container" th:each="paper : ${person.paperList}">
                        <div class="achievement-title col-md-6 col-sm-7">
                            <a th:href="${paper.getPaperURL()}"><h4><b th:text="${paper.getTitle()}">Title of
                                publication</b></h4></a>
                            <p th:text="${paper.getAuthors()}">authors</p>
                        </div>
                    </div>
                </div>
                <div th:unless="${year} eq 'all'">
                    <div class="achievement-item container" th:each="paper : ${person.paperList}"
                         th:if="${paper.getDate().getYear()+1900}  eq ${year}">
                        <div class="achievement-title col-md-6 col-sm-7">
                            <a th:href="${paper.getPaperURL()}"><h4><b th:text="${paper.getTitle()}">Title of
                                publication</b></h4></a>
                            <p th:text="${paper.getAuthors()}">authors</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <footer class="row" style="padding-top: 30px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 col-lg-4 footer_menuList">
                    <div class="row menuList">
                        <ul class="firstOrderList nav" style="text-transform: initial">
                            <li><a href="../static/index.html" th:href="@{/index}"><img style="width:40%;height: 30%;float: left;margin-left:40px ;"
                                                                                        src="../static/assets/wq4.png" th:src="@{/assets/wq4.png}" alt=""></a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-5 col-lg-5 footer_menuList">
                    <div class="row menuList">
                        <ul class="firstOrderList nav" style="text-transform: initial">
                            <li><a href="">Jilin University</a></li>

                            <li><a href="">Chinese Ministry of Education</a></li>

                            <li><a href="">National Natural Science Foundation of China</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3" style="text-align:center;">
                    <div><img style="width:32%; margin-top:2px; margin-bottom: 8px;" src="../static/assets/erweima.png" th:src="@{/assets/erweima.png}" alt="">
                    </div>
                    <p style="margin-top: 2px; color: #eee; text-align: center;">关注微信公众号</p>
                </div>
                <div class="fright copyright col-sm-6 col-md-6 col-lg-12" style="text-align: center;margin-top: -28px">&copy;
                    <a href="../static/index.html" th:href="@{/index}"> 吉林大学计算机科学与技术学院计算智能知识图谱实验室 </a></div>
            </div>
        </div>
    </footer>
    <a href="#top">
        <button type="button" class="btn btn-primary btn-lg go-top">
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
        </button>
    </a>
    <div class="modal fade" id="searchform" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         style="height: 100%; width: 100%;">
        <div class="modal-dialog" role="document" style="height: 100%; width: 60%; margin-top: 99px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Smart Search</h4>
                </div>
                <div class="modal-body" style="height: 200px;">
                    <form id="domain-search" action="/search" method="get">
                        <input id="domain-text" type="text" name="domain" placeholder="Search here"/>
                        <input id="search-btn" type="submit" name="submit" value="Search"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script >
    window.onscroll = function () {
        if ($(window).scrollTop() > 180) {
            $('.go-top').show();
        } else {
            $('.go-top').hide();
        }
    }
</script>
<script src="js/jquery-2.1.3.min.js"></script>
<!--Bootstrap JS-->
<script src="js/bootstrap.min.js"></script>
<!--Owl Carousel-->
<script src="vendors/owl.carousel/js/owl.carousel.min.js"></script>
</body>
</html>
